html, body {
  height: 100%;
}

body{
  margin:auto;
  width: 100%;
  overflow-x: hidden;
  background: #f1f2f3;
}

.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content{
  flex:1;
}

.footer{
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(0, 0, 0, 0.870588);
  z-index:2;
  a {
    color: inherit;
    text-decoration: none;
    padding-right: 8px;
  }
  svg {
    font-size: 2em;
    padding-right: 2px;
  }
}

.flex-parent{
  display: flex;
}

.flex-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  opacity: .9;
}

.content{
  margin-top: 1em;
}
